<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinbo.chainblock.mapper.HashOfflineBetMapper">


    <!-- 插入或更新 -->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_hash_offline_bet(`sn`, `username`, cate_id, cate_name, cate_name_zh, game_id,
        game_name, game_name_zh, transaction_id, network, content, content_zh, odds,
        money, create_time, create_timestamp, algorithm_code) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.sn}, #{item.username}, #{item.cateId}, #{item.cateName}, #{item.cateNameZh}, #{item.gameId},
            #{item.gameName}, #{item.gameNameZh}, #{item.transactionId}, #{item.network}, #{item.content}, #{item.contentZh}, #{item.odds},
            #{item.money}, #{item.createTime}, #{item.createTimestamp}, #{item.algorithmCode})
        </foreach>
        ON DUPLICATE KEY UPDATE
        algorithm_code = VALUES(algorithm_code)
    </insert>

</mapper>