<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinbo.chainblock.mapper.StatisticsMapper">


    <!-- 插入或更新 -->
    <insert id="insertOrUpdate" parameterType="com.xinbo.chainblock.entity.StatisticsEntity">
        insert into t_statistics(`date`, uid, username, bet_count, bet_amount,
                                 profit_amount, recharge_trc20_count, recharge_trc20_amount, withdraw_trc20_amount, recharge_trx_count,
                                 recharge_trx_amount, withdraw_trx_amount, update_time)
        values (#{entity.date}, #{entity.uid}, #{entity.username}, #{entity.betCount}, #{entity.betAmount},
                #{entity.profitAmount}, #{entity.rechargeTrc20Count}, #{entity.rechargeTrc20Amount}, #{entity.withdrawTrc20Amount}, #{entity.rechargeTrxCount},
                #{entity.rechargeTrxAmount}, #{entity.withdrawTrxAmount}, #{entity.updateTime}) ON DUPLICATE KEY
        UPDATE
            bet_count = bet_count + VALUES (bet_count),
            bet_amount = bet_amount + VALUES (bet_amount),
            profit_amount = profit_amount + VALUES (profit_amount),
            recharge_trc20_count = recharge_trc20_count + VALUES (recharge_trc20_count),
            recharge_trc20_amount = recharge_trc20_amount + VALUES (recharge_trc20_amount),
            withdraw_trc20_amount = withdraw_trc20_amount + VALUES (withdraw_trc20_amount),
            recharge_trx_count = recharge_trx_count + VALUES (recharge_trx_count),
            recharge_trx_amount = recharge_trx_amount + VALUES (recharge_trx_amount),
            withdraw_trx_amount = withdraw_trx_amount + VALUES (withdraw_trx_amount),
            update_time = VALUES (update_time)
    </insert>


    <!-- 插入或更新 -->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_statistics(`date`, uid, username, bet_count, bet_amount,
        profit_amount, recharge_trc20_count, recharge_trc20_amount, withdraw_trc20_amount, recharge_trx_count,
        recharge_trx_amount, withdraw_trx_amount, update_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{entity.date}, #{entity.uid}, #{entity.username}, #{entity.betCount}, #{entity.betAmount},
            #{entity.profitAmount}, #{entity.rechargeTrc20Count}, #{entity.rechargeTrc20Amount}, #{entity.withdrawTrc20Amount}, #{entity.rechargeTrxCount},
            #{entity.rechargeTrxAmount}, #{entity.withdrawTrxAmount}, #{entity.updateTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        bet_count = bet_count + VALUES (bet_count),
        bet_amount = bet_amount + VALUES (bet_amount),
        profit_amount = profit_amount + VALUES (profit_amount),
        recharge_trc20_count = recharge_trc20_count + VALUES (recharge_trc20_count),
        recharge_trc20_amount = recharge_trc20_amount + VALUES (recharge_trc20_amount),
        withdraw_trc20_amount = withdraw_trc20_amount + VALUES (withdraw_trc20_amount),
        recharge_trx_count = recharge_trx_count + VALUES (recharge_trx_count),
        recharge_trx_amount = recharge_trx_amount + VALUES (recharge_trx_amount),
        withdraw_trx_amount = withdraw_trx_amount + VALUES (withdraw_trx_amount),
        update_time = VALUES (update_time)
    </insert>


    <select id="findByUidStr" resultType="com.xinbo.chainblock.entity.StatisticsEntity">
        select * from t_statistics where `date` = #{date} and uid in (
        <foreach collection="childList" item="item" separator="," index="">
            #{item}
        </foreach>
        )
    </select>


    <select id="findByUid" resultType="com.xinbo.chainblock.entity.StatisticsEntity">
        select *
        from t_statistics
        where `date` = #{date}
          and uid = #{childUid}
    </select>


</mapper>